/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client
/admin
/images/*/*
.vscode/

# misc
.idea/
/config/ads.txt
run-service-dev.bat
.env
.nodemonignore
ecosystem.config.js
npm-debug\.log

/config/sitemap.xml
