/node_modules

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client
/admin
/images/*
.idea/
.vscode/

# misc
/config/ads.txt
run-service-dev.bat
.env
.nodemonignore
ecosystem.config.js
npm-debug\.log

*.jar
